version: '3.9'

services:
  regression:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      LOGIN: ${LOGIN}
      PASSWORD: ${PASSWORD}
    command: pytest -sv --alluredir=allure-results
